<%= form_with(url: logoin_path, scope: :session, local: true) do |f| %>

  <div>
    <%= f.label :email, 'Email' %>
    <%= f.email_field :email%>
  </div>
  
  <div>
    <%= f.label :eamil, 'Email' %>
    <%= f.email_field :email%>
  </div>
  
  <div>
    <%= f.label :password, 'Password' %>
    <%= f.password_fiedl :password%>
  </div>
  
  <%= f.submit 'Log in'%>
  <% end %>